body {  font-family: Arial; font-size: 11px; text-align: justify}
a:link {  text-decoration: none; color: #FFFF00}
a:visited {  text-decoration: none; color: #FFFF00}
a:hover { color: #FF0000; text-decoration: none }
table {  font-family: Arial; font-size: 11px; text-align: justify}
.yazi {  color: #FFFF00}
